In [1]:
# Importar bibliotecas necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#me conecto a google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
# Cargar archivos CSV utiliza libreria pandas
#leo desde drive
df=pd.read_csv('/content/drive/MyDrive/CSV/nacidos-vivos-registrados-2018_deis.csv')

In [7]:
# Eliminar filas con jurisdiccion_de_residencia_id == 98, corresponden a 'Otro país'
df = df.drop(df[df['jurisdiccion_de_residencia_id'] == 98].index)
print(df.value_counts())

jurisdiccion_de_residencia_id  jurisdiccion_de_residencia_nombre  tipo_de_parto_id  tipo_de_parto_nombre  sexo  sexo_nombre    edad_de_la_madre_grupos_id  edad_de_la_madre_grupos_nombre  semanas_de_gestacion_id  semanas_de_gestacion_nombre  instruccion_de_la_madre_id  instruccion_de_la_madre_nombre  Intervalos_de_peso_al_nacer_id  intervalos_de_peso_al_nacer_nombre  cantidad_nacimientos
2                              Ciudad Aut. de Buenos Aires        1                 Simple                1     Varón          1                           Menor de 15                     4                        28 a 31                      3                           Primaria/C. EGB Completa        2                               500 a 999                           1                       1
58                             Neuquén                            2                 Múltiple              2     Mujer          5                           30 a 34                         5                        32 a 36                      5                           Secundaria/Polimodal Completa   4                               1500 a 1999                         3                       1
                                                                                                                                                                                           6                        37 a 41                      6                           Terciaria/Universitaria Incomp  8                               De 3500 y más                       1                       1
                                                                                                                                                                                                                                                                                                             7                               3000 a 3499                         1                       1
                                                                                                                                                                                                                                                                                                             6                               2500 a 2999                         2                       1
                                                                                                                                                                                                                                                                                                                                                                                                        ..
18                             Corrientes                         1                 Simple                9     Sin espeficar  6                           35 a 39                         6                        37 a 41                      8                           Sin especificar                 6                               2500 a 2999                         1                       1
                                                                                                                               4                           25 a 29                         6                        37 a 41                      4                           Secundaria/Polimodal Incomplet  8                               De 3500 y más                       1                       1
                                                                                                          3     Indeterminado  6                           35 a 39                         6                        37 a 41                      5                           Secundaria/Polimodal Completa   7                               3000 a 3499                         1                       1
                                                                                                                                                                                                                                                 3                           Primaria/C. EGB Completa        7                               3000 a 3499                         1                       1
99                             Lugar no especificado              9                 Sin especificar       9     Sin espeficar  9                           Sin especificar                 8                        Sin especificar              8                           Sin especificar                 9                               Sin especificar                     6                       1
Length: 29967, dtype: int64

In [8]:
df.head()

,jurisdiccion_de_residencia_id,jurisdiccion_de_residencia_nombre,tipo_de_parto_id,tipo_de_parto_nombre,sexo,sexo_nombre,edad_de_la_madre_grupos_id,edad_de_la_madre_grupos_nombre,semanas_de_gestacion_id,semanas_de_gestacion_nombre,instruccion_de_la_madre_id,instruccion_de_la_madre_nombre,Intervalos_de_peso_al_nacer_id,intervalos_de_peso_al_nacer_nombre,cantidad_nacimientos
0,34,Formosa,1,Simple,2,Mujer,4,25 a 29,5,32 a 36,3,Primaria/C. EGB Completa,5,2000 a 2499,3
1,2,Ciudad Aut. de Buenos Aires,1,Simple,1,Varón,7,40 a 44,6,37 a 41,3,Primaria/C. EGB Completa,6,2500 a 2999,13
2,6,Buenos Aires,1,Simple,1,Varón,5,30 a 34,8,Sin especificar,7,Terciaria/Universitaria Comple,4,1500 a 1999,1
3,82,Santa Fe,1,Simple,2,Mujer,6,35 a 39,6,37 a 41,7,Terciaria/Universitaria Comple,5,2000 a 2499,30
4,74,San Luis,1,Simple,1,Varón,6,35 a 39,5,32 a 36,5,Secundaria/Polimodal Completa,6,2500 a 2999,4

In [72]:
#muestro los nacimientos totales
nacimientosTotales=df['cantidad_nacimientos'].sum()
print(nacimientosTotales)

685202

In [73]:
# Consulta: Obtener los nombres únicos de las provincias en el DataFrame
provincias = df['jurisdiccion_de_residencia_nombre'].unique()

In [74]:
provincias

array(['Formosa', 'Ciudad Aut. de Buenos Aires', 'Buenos Aires',
       'Santa Fe', 'San Luis', 'Lugar no especificado', 'Salta',
       'Neuquén', 'Río Negro', 'Misiones', 'Tucumán', 'Santa Cruz',
       'Catamarca', 'Santiago del Estero', 'Chaco', 'La Rioja',
       'La Pampa', 'Jujuy', 'Entre Ríos', 'Mendoza', 'Chubut',
       'Corrientes', 'Córdoba', 'San Juan', 'Tierra del Fuego'],
      dtype=object)

In [75]:
# Mostrar los nombres únicos de las provincias
print("Nombres de las provincias presentes en el dataset:")
for pro in provincias:
    print(pro)

Nombres de las provincias presentes en el dataset:
Formosa
Ciudad Aut. de Buenos Aires
Buenos Aires
Santa Fe
San Luis
Lugar no especificado
Salta
Neuquén
Río Negro
Misiones
Tucumán
Santa Cruz
Catamarca
Santiago del Estero
Chaco
La Rioja
La Pampa
Jujuy
Entre Ríos
Mendoza
Chubut
Corrientes
Córdoba
San Juan
Tierra del Fuego

In [77]:
#mostrar al usuario el nombre de las provincias del dataFrame, para que seleccione una y obtenga la informacion que
#requiere de dicha provincia
print("Solicitar datos de una provincia")

# Consulta: Obtener los nombres únicos de las provincias en el DataFrame
provincias = df['jurisdiccion_de_residencia_nombre'].unique()

# Mostrar los nombres únicos de las provincias
print("Nombres de las provincias presentes en el dataset:")
for pro in provincias:
    print(pro)

# Solicitar al usuario el ingreso de un provincia
provincia_ingresada = input("Ingrese el nombre de una provincia tal cual el listado anterior: ")

# Verificar si la provincia existe en el DataFrame
if provincia_ingresada in df['jurisdiccion_de_residencia_nombre'].unique():
    #creo el dataFrame con los registros de la provincia correspondiente
    registros = df[df['jurisdiccion_de_residencia_nombre'] == provincia_ingresada]
    # Solicitar al usuario el ingreso de una opcion
    print("Menu:")
    print("1- Cantidad de nacimientos")
    print("2-Cantidad de nacimientos simples")
    print("3-Cantidad de nacimientos dobles")
    opcion_ingresada = input("Ingrese una opcion del menu: ")
    opcion=int (opcion_ingresada)
    match opcion:
        case 1:
             print("Cantidad de nacimientos")
             suma_nacimientos=registros['cantidad_nacimientos'].sum()
             print("La cantidad de nacimientos en "+provincia_ingresada+" es: "+str(suma_nacimientos))

        case 2:
            print("Cantidad de nacimientos simples")
            # Inicializamos la variable 'sumaSimple' en 0
            sumaSimple = 0
            # Iteramos sobre las filas del DataFrame
            for index, row in registros.iterrows():
              if row['tipo_de_parto_id'] == 1:
                sumaSimple+= row['cantidad_nacimientos']
            print("La cantidad de nacimientos SIMPLES en "+provincia_ingresada+" es: "+str(sumaSimple))
        case 3:
            print("Cantidad de nacimientos dobles")
            # Inicializamos la variable 'sumaDobles' en 0
            sumaDobles = 0
            # Iteramos sobre las filas del DataFrame
            for index, row in registros.iterrows():
              if row['tipo_de_parto_id'] == 23:
                sumaDobles+= row['cantidad_nacimientos']
            print("La cantidad de nacimientos DOBLES en "+provincia_ingresada+" es: "+str(sumaDobles))
        case _:print("Error: La opcion ingresada no es correcta")


else:
      print("El provincia ingresada no se encuentra en el dataset.")

Solicitar datos de una provincia
Nombres de las provincias presentes en el dataset:
Formosa
Ciudad Aut. de Buenos Aires
Buenos Aires
Santa Fe
San Luis
Lugar no especificado
Salta
Neuquén
Río Negro
Misiones
Tucumán
Santa Cruz
Catamarca
Santiago del Estero
Chaco
La Rioja
La Pampa
Jujuy
Entre Ríos
Mendoza
Chubut
Corrientes
Córdoba
San Juan
Tierra del Fuego
Ingrese el nombre de una provincia tal cual el listado anterior: Santiago del Estero
Menu:
1- Cantidad de nacimientos
2-Cantidad de nacimientos simples
3-Cantidad de nacimientos dobles
Ingrese una opcion del menu: 2
Cantidad de nacimientos simples
La cantidad de nacimientos SIMPLES en Santiago del Estero es: 17911